.App {
  width: 80%;
  margin: 10px auto 0;
}

header{
  height: wrap-content;
  background-color: #ff6600;
  text-align: left;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}


.logo {
  font-weight: 900;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}

.login{
  float:right;
  padding-right: 10px;
}

header *{
  display: inline;
  position:relative;
  top: 25%;
}

header nav a{
  text-decoration: none;
  color:black;
}

header nav a.active{
  color: white;
}

header nav a:not(:first-child):before, header nav a.active:not(:first-child):before {
    content: " | ";
    color: black;
}

table {
  border-collapse: collapse;
}

table tbody {
  border-top: 10px solid transparent;
}

.Body{
  margin: 0;
  background-color: rgb(246, 246, 239);
  padding-bottom: 10px;
}

.Body > * {
  margin-left: 10px;
  margin-bottom: 15px;
}

.Body div{
  margin: 0;
}

.link{
  background-color: rgb(246, 246, 239);

  font-size: 15px;
}

.link a{
  color: black;
  text-decoration:  none;
}

.link a:hover{
  text-decoration: underline;
}

.link_metadata{
  margin: 0;
  padding-right: 5px;
  font-size: 12px;
  display: inline-block;
  border-right: 1px solid black;
}

.comments{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.Footer{
  border-top: 2px solid #ff6600;
  text-align: center;
  background-color: rgb(246, 246, 239);
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.Footer-list{
  display:block;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Footer-list a {
  font-weight: 400;
}

.Footer-list a:not(:first-child):before {
    content: "  |  ";
}

.react-search-field-input{
  padding: 0 !important;
}
